Archilyse
test/data
test/env
FloorplanToBlender3d
floor-detection
privateGPT
/venv
deeplearning/ienv
timesave/venv
glue_depedencies
test/venv
emailsentiment/venv
emailsentiment/data
emailsentiment/results
emailsentiment/raw_data
emailsentiment/model
datapreprocessing/sparkenv
datapreprocessing/data
datapreprocessing/test_data
sagemaker_pakage